<a href="https://colab.research.google.com/github/nhupham25/ueh25-ktlt-eco/blob/main/buoi02_250816/python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ngôn ngữ Python

In [ ]:
print("Hello, World")

Hello, World

In [ ]:
pv = 100
r = 0.1
n = 7
fv = pv * ((1+r)**n)
print(round(fv,2))

194.87

In [ ]:
from IPython.display import display

In [ ]:
print("Hello, World")
display("Hello, World")

Hello, World

'Hello, World'

In [ ]:
score = 80
if score >= 60:
    print("Pass")

Pass

In [ ]:
#Python variables
x = 2
price = 2.5
word = 'Hello'
word = 'Hello'
word = "Hello"
word = '''Hello'''
print(x, price, word)
print(f'x = {x, type(x)}, price = {price, type(price)}, word = {word, type(word)}')

2 2.5 Hello
x = (2, <class 'int'>), price = (2.5, <class 'float'>), word = ('Hello', <class 'str'>)

In [ ]:
x = 2
y = x + 1
print(x, y)

2 3

In [ ]:
#comment
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.11.13

In [ ]:
help(python_version)

Help on function python_version in module platform:

python_version()
    Returns the Python version as string 'major.minor.patchlevel'

    Note that unlike the Python sys.version, the returned value
    will always include the patchlevel (it defaults to 0).

In [ ]:
x = 'Hello, World'
print(x, type(x))

x = 2
print(x, type(x))

x = 2.5
print(x, type(x))

x = 7j
print(x,type(x))

Hello, World <class 'str'>
2 <class 'int'>
2.5 <class 'float'>
7j <class 'complex'>

In [ ]:
x = ['apple', 'banana', 'cherry']
x.append('hello')
print(x, type(x), x[1:3])

x = ('apple', 'banana', 'cherry')
#

['apple', 'banana', 'cherry', 'hello'] <class 'list'> ['banana', 'cherry']

In [ ]:
x = True
print(x,type(x))

x = b'Hello'  #bytes
print(x,type(x))

x =  bytearray(5) #bytearray
print(x,type(x))

x = memoryview(bytes(5)) #memoryview
print(x,type(x), hex(id(x)))

x = None #NoneType
print(x,type(x))

True <class 'bool'>
b'Hello' <class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
<memory at 0x7e13f429f1c0> <class 'memoryview'> 0x7e13f429f1c0
None <class 'NoneType'>

In [ ]:
x = str(3)
y = int(4.3)
z = float(3)

print(x,type(x))
print(y,type(y))
print(z,type(z))

3 <class 'str'>
4 <class 'int'>
3.0 <class 'float'>

In [ ]:
#numbers
x = 2
print (x, type(x))

y = 3.4
print (y, type(y))

z = 7j + 3.5
print (z, type(z))

2 <class 'int'>
3.4 <class 'float'>
(3.5+7j) <class 'complex'>

In [ ]:
#Operator
print(7+2)
print(7-2)
print(7*2)
print(7/2)
print(7//2)
print(7%2)
print(7**2)

9
5
14
3.5
3
1
49

In [ ]:
#Comparison
print(3>2)
print(3<2)
print(3==2)
print(3!=2)
print(3>=2)
print(3<=2)

True
False
False
True
True
False

In [ ]:
# BMI Calculator in Python
#input
height_cm = 170
weight_kg = 60
#process
height_m = height_cm/100
BMI = (weight_kg/(height_m**2))
print('Your BMI is: ' + str(round(BMI,2)))

Your BMI is: 20.76

In [ ]:
# $100 after 7 years?
fv = 100 * (1+0.1) ** 7
print('fv = ', round(fv, 2))

fv =  194.87

In [ ]:
#input
pv = 100
r = 0.1
n = 7
#process
fv = pv * ((1 + (r)) ** n)
print('fv = ', round(fv, 2))

fv =  194.87

In [ ]:
#input
amount = 100
interest = 10 # 10%
years = 7

#process
future_value = amount*((1+(0.01*interest)) ** years)
print('Future value: ', round(future_value, 2))

Future value:  194.87

## Cấu trúc dữ liệu

In [ ]:
x = ["apple", "banana", "cherry"] #list
print(x, type(x))
x = ("apple", "banana", "cherry") #tuple
print(x, type(x))
x = {"name" : "Tom", "age" : 20} #dict
print(x, type(x))
x = {"apple", "banana", "cherry"} #set
print(x, type(x))

['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'banana', 'cherry') <class 'tuple'>
{'name': 'Tom', 'age': 20} <class 'dict'>
{'cherry', 'banana', 'apple'} <class 'set'>

In [ ]:
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

4
60
70
90

In [ ]:
# tuple
x = (10, 20, 30, 40, 50)
print(len(x))
print(x[0])
print(x[1])
print(x[-1])
# x[0] = 50 #error

5
10
20
50

In [ ]:
#set
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

In [ ]:
# dictionary
k = { 'EN':'English','FR':'French'}
print(k['EN'])

English

In [ ]:
# data types
fruits = ['apple', 'banana', 'cherry'] #lists []
colors = ('red', 'green', 'blue') #tuples ()
animals = {'cat', 'dog'} #sets {}
person = {'name' : 'Tom', 'age' : 20} #dictionaries {}

In [ ]:
# Python Lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [ ]:
# Python Tuples
accounts = (('Cash', 1001), ('Accounts Receivable', 1002), ('Inventory', 1003))
for account in accounts:
 print("Account name:", account[0], "Account number:", account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [ ]:
# Python Sets
account_numbers = set([acc[1] for acc in accounts]) #set comprehensive
print(account_numbers)
new_acc_number = 1004
if new_acc_number not in account_numbers:
 print(f 'Account number {new_acc_number} is not in use')

In [ ]:
# Python Dictionaries
accounts = {
    "1001": {"name": "Cash", "balance": 500.0, "type": "Asset"},
    "1002": {"name": "Account Receivable", "balance": 1000.0, "type": "Asset"},
    "1003": {"name": "Account Payable", "balance": 750.0, "type": "Liability"}
}
for acc_num, acc_info in accounts.items():
 print('-'*50)
 print('Account Number:', acc_num)

 print('Account Name:', acc_info['name'])
 print('Account Balance:', acc_info['balance'])
 print('Account Type:', acc_info['type'])

--------------------------------------------------
Account Number: 1001
Account Name: Cash
Account Balance: 500.0
Account Type: Asset
--------------------------------------------------
Account Number: 1002
Account Name: Account Receivable
Account Balance: 1000.0
Account Type: Asset
--------------------------------------------------
Account Number: 1003
Account Name: Account Payable
Account Balance: 750.0
Account Type: Liability

## Control Logic & Loops

In [ ]:
# Python if
score = 80
if score >=60 :
    print('Pass')

Pass

In [ ]:
# Python if else
score = 80
if score >= 60 :
  print('Pass')
else: # score < 60
  print('Fail')

Pass

In [ ]:
# If
score = 90
grade = ''
if score >= 90 :
 grade = 'A'
elif score >= 80: # score < 90 and score >= 80
 grade = 'B'
elif score >= 70: # [70, 80)
 grade = 'C'
elif score >= 60: # [60, 70)
 grade = 'D'
else:
   grade = 'F'
print('Grade:', grade)

Grade: A

In [ ]:
# Loop
for i in range(1, 6): #1<=i<6
 print(i, end = '')

12345

In [ ]:
# 2 Loop
for i in range(1, 10): #i: 1 -> 9
    for j in range(1, 10): #j: 1 -> 9
       print(f'{i} * {j} = {i*j}')
    print('-'*50)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
--------------------------------------------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
--------------------------------------------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
--------------------------------------------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
--------------------------------------------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
--------------------------------------------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
--------------------------------------------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
--------------------------------------------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
--------------------------------------------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
--------------------------------------------------

## Module and Function

In [ ]:
# while
age = 10
while age < 20:
print(age, end = "")
age = age + 1

In [ ]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):
  fv = pv * ((1 + r) ** n)
  return fv
  pass

fv = getfv(100, 0.1, 7)
print('Future value = ', round(fv, 2))

Future value =  194.87

In [ ]:
# Python class
class MyClass:
x = 5
c1 = MyClass()
print(c1.x)

In [ ]:
# class
class Person:
  def __init__(self, name, age): #constructor
    self.name = name
self.age = age
p1 = Person("Alan", 20)
print(p1.name)
print(p1.age)

In [ ]:
class Person:
def __init__(self, name, age):
  self.name = name
  self.age = age
def myfunc(self):
  print('Hello my name is' + self.name)
  pass

p1 = Person('Alan', 20)
p1.myfunc()

In [ ]:
class Vehicle:
name = ""
kind = "car"
color = ""
value = 100.0

def description(self):
  desc_str = f'{self.name} is a {self.color} {self.kind} worth {self.value: .2f}.'
  return desc_str
  pass

car1 = Vehicle('Fer', 'red', 'convertible', 60000.00)
car2 = Vehicle('Jump', 'blue', 'van', 10000.00


print(car1.description())
print(car2.description())

In [ ]:
%%writefile mymodule.py
def greeting(name):
  print("Hello, ", name)

Writing mymodule.py

In [ ]:
  !cat mymodule.py

def greeting(name):
  print("Hello, ", name)

In [ ]:
def greeting(name):
  print("Xin Chao, ", name)

In [ ]:
import mymodule as mm
mm.greeting('Alan')

## Read/Write File

In [ ]:
from os import write
with open('a.txt','w') as file:
  file.write  ('Hello, World\nThis is demo input/output')

In [ ]:
with open('a.txt','w') as file:
  print(file.readlines)

In [ ]:
#Python main() function
def main():
  print('Hello World!')
print(__name__)
if __name__ == "__main__":
main()

## Try, Except & File Handling

In [ ]:
try:
  f = open('aa.txt')
except: # neu loi
  print('File Error')
  pass
finally: # neu khong loi
  print('Final')

File Error
Final

In [ ]:
!ls /content/drive/MyDrive/

ls: cannot access '/content/drive/MyDrive/': No such file or directory

In [ ]:
import os

print(os.getcwd)

## Kết thúc